# Compiled Java files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Build directories
bin/
build/
target/
out/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist